<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">

    <title>Veiculos</title>
</head>

<body>
    <div class="">

        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Veículo</th>
                    <th>Cliente</th>
                    <th>Telefone</th>
                    <th>Empresa</th>
                </tr>
            </thead>
            <tbody>
                {% for veiculo in veiculos %}
                <tr>
                    <td>{{ veiculo.tipo }}</td>
                    <td>{{ veiculo.modelo }} {{ veiculo.placa }} {{ veiculo.cor }}</td>
                    <td>{{ veiculo.cliente }}</td>
                    <td>{{ veiculo.tel }}</td>
                    <td><a target="_blank" href='http://{{ veiculo.empresa.url }}'>{{ veiculo.empresa }} </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
</body>

</html>